@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.yearBG{
  background-color: #f5f5dc;
}

.track-btn{
  background-color: #d62828;
  color: #f5f5dc;
}

.primary-color{
  color:#003049;
}

.sec-bg{
  background-color: #003049;
}

.sec-btn{
  background-color: #f5f5dc;
  color: #003049;
}

.Broken{
  color: #ff0000;
  background-color: #ffcaca;
}

.Fulfilled{
  color: green;
  background-color: rgb(189, 255, 189);
}

.Stalled{
  color: rgb(255, 128, 0);
  background-color: rgb(255, 222, 189);
}

.Unrated,.unrated{
  color: rgb(0, 0, 0);
  background-color: rgb(208, 208, 208);
}

.In-Progress{
  color: rgb(255, 225, 0);
  background-color: rgb(255, 243, 155);
}

.primary-btn{
  background-color: #003049;
  color: #f5f5dc;
}
.image-div-round{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
